<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Certificados</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="dashboard-actions dashboard-actions-center">
    <ion-button class="primary-button" routerLink="/certificados/solicitar">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Solicitar Certificado
    </ion-button>
  </div>
  <div class="dashboard-grid">
    <div class="dashboard-card" *ngFor="let item of resumen" [ngClass]="item.color">
      <ion-icon [name]="item.icono" size="large"></ion-icon>
      <div class="cantidad">{{ item.cantidad }}</div>
      <div class="titulo">{{ item.titulo }}</div>
    </div>
  </div>
</ion-content> 